#results-and-playlist {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2rem 1rem 0;
}

.column {
    min-width: 16rem;
    max-width: 30rem;
    flex: 1 1 0px;
}
