.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Work Sans";
}

h1 {
    font-family: "Poppins";
}
h2 {
    font-family: "Poppins";
}

main {
    background-image: url("./background_photo_desktop.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-grow: 1;
}

input, button {
    /* Stops chrome from highlighting the selected input */
    outline: none;
}
