
#playlist-name {
    font-size: 1.75rem;
    font-weight: bold;
    font-family: "Poppins";
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding-top: 0;
    padding-bottom: 0.4rem;
    width: 100%;
}
